@import "./components/normalize";
@import "./components/fonts";
@import "./components/vars";
@import "./components/base";
@import "./components/base-width";

@import "./sections/main-screen";

.main-screen {
    padding-bottom: 0;
}

@media screen and (max-width: 992px) {
    @include three-lines-header;
}

@import "./sections/services";

.services__items {
    grid-template-columns: 1fr;
}

.service-item__img {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.service-item__title {
    display: flex;
    justify-content: center;
    margin: 28px 0;

    a {
        text-align: center;
    }
}

.service-item__description {
    p {
        text-align: center;
    }
}

.service-item__button {
    display: flex;
    justify-content: center;
}

@import "./sections/trust-us";

@import "./sections/footer";

.footer {
    &__content {
        border-top: none;
    }
}